.phoneDiv {
  background-image: url("./images/bg-pattern-circles.svg");
  background-position: top;
  background-size: cover;
  background-position-y: -300px;
  background-position-x: -100px;
  background-repeat: no-repeat;
}
